---
title: Условия поставки
---

{% extends "layouts/layout.html" %}

{% block hero %}
  <h1 class="h2">{{ title }}</h1>
{% endblock %}

{% block content %}
  <article>
    <h3>Оплата и Доставка</h3>
    <p>Покупка ASIC’ов и видеокарт возможна из наличия на складе в Москве. Предварительный заказ поможет получить оборудование по более выгодной цене, поставка осуществляется в короткие сроки из Китая. Доставка по России любой удобной для вас транспортной компанией. Наличный и безналичный расчет. Также возможно оформление договора с юридическим лицом с перечислением средств на расчетный счет, как с НДС так и без. Для подробностей свяжитесь с нашим отделом продаж.</p>
  </article>
{% endblock%}
