---
title: BitMiner - Поставщик майнинг-оборудования
---

{% extends "layouts/layout.html" %}

{% block hero %}
  {% include "partials/carousel.tpl" %}
{% endblock %}

{% block content %}
  <article>
    <h3>Закажи майнинг-оборудование прямо сейчас</h3>
    <p>На нашем сайте вы найдете огромное количество наименований оборудования и все необходимые комплектующие для майнинга. Доставка по всей России, отгрузка из Москвы любой удобной для вас транспортной компанией. Оборудование есть как в наличии, так и по предварительному заказу.Цены уточняйте у менеджеров <a href="/">BitMiner</a>, возможны изменения в зависимости от сроков поставки и курсов валют.</p>
  </article>
{% endblock%}
