/*
 * ======= Hero block =======
 */

.hero {
  display: flex;
  flex-direction: column;

  & .content {
    padding: 100px 0;
  }

  & .decor {
    margin-top: auto;
    height: 100px;

    & svg {
      width: 100%;
      height: 100%;

      & path {
        fill: #fff;
      }
    }
  }
}
