/*
 * ======= Typography =======
 */

h1, .h1 {
  text-align: center;
  color: var(--color-primary);

  text-transform: uppercase;

  padding: 0 var(--indent-base);
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 20px;

  @media (min-width: 900px) {
    font-size: 20px;
    line-height: 20px;
  }
}

h2, .h2 {
  text-align: center;
  color: var(--color-light);

  text-transform: none;

  font-weight: 100;
  padding: 0 var(--indent-base) 20px var(--indent-base);
  margin: 0 auto;
  position: relative;

  font-size: 26px;
  line-height: 36px;

  @media (min-width: 900px) {
    font-size: 32px;
    line-height: 40px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    height: 3px;
    width: 45px;
    background-color: var(--color-primary);
  }
}

h3, .h3 {
  margin: 1em auto;
  text-align: center;

  line-height: 1.618;
  font-weight: 100;
  text-transform: uppercase;

  font-size: 26px;

  @media (min-width: 900px) {
    font-size: 32px;
  }
}

h4, .h4 {
  line-height: 1.2;
  font-weight: 100;
  text-transform: uppercase;

  font-size: 26px;

  @media (min-width: 900px) {
    font-size: 32px;
  }
}

p {
  line-height: 1.618;
  margin-bottom: 1em;
}
