:root {

/**
 * ======= Sizes =======
 */

  --max-width: 1200px;
  --font-size: 16px;

  /* Idents */
  --indent-base: 15px;
  --indent-doble: calc( var(--indent-base) * 2 );

/**
 * ======= Colors =======
 **/

  --color-brand: #24292e;

  --color-text: rgba(0,0,0,.87);

  --color-dark: rgba(0, 0, 0, 0.52);
  --color-dark-disabled: rgba(0, 0, 0, 0.26);

  --color-light: rgba(255, 255, 255, 1);
  --color-light-disabled: rgba(255, 255, 255, 0.3);

  --color-gray: #7a7a7a;
  --color-primary: #04b3da;

/**
 * ======= Shadow =======
 **/

  --box-shadow-1: 0  1px  3px rgba(0,0,0,0.12), 0  1px  2px rgba(0,0,0,0.24);
  --box-shadow-2: 0  3px  6px rgba(0,0,0,0.16), 0  3px  6px rgba(0,0,0,0.23);
  --box-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0  6px  6px rgba(0,0,0,0.23);
  --box-shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --box-shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/**
 * ======= Animation =======
 **/

  /* Transition */
  --hover-transition: color .05s, background-color .05s, border-color .05s;

}


